{% extends "layout.html.twig" %}

{% block title %}
    <h1 class="display-3">You are on: {{ title }}</h1>
    <p>{{ instruction }}</p>
{% endblock %}

{% block content  %}
    <div class="row">
        <div class="col-md-12">
            <div id="notification" class="alert-danger"></div>
            <div id="result" class="alert-info font-weight-bold"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2>Generate Random String</h2>
            <button id="random_string_button" type="button" class="btn btn-primary">Generate</button>
        </div>
        <div class="col-md-5">
            <h2>Generate Chuck Norris quote</h2>
            <button id="chuck_norris_button"  type="button" class="btn btn-primary">Never gets old</button>
        </div>
    </div>
    <hr>
{% endblock %}

{% block javascript %}

    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#random_string_button").on('click', function() {
                reset();

                $.get('/generate/random_string', function(data) {
                    $("#result").html(data);
                }).fail(function(xhr) {
                    var err = eval("(" + xhr.responseText + ")");
                    $("#notification").html(err.title);
                });
            });

            $("#chuck_norris_button").on('click', function() {
                reset();

                $.get('/generate/chuck_norris', function(data) {
                    $("#result").html(data);
                }).fail(function(xhr) {
                    var err = eval("(" + xhr.responseText + ")");
                    $("#notification").html(err.title);
                });
            });

            function reset() {
                $("#notification").empty();
                $("#result").empty();
            }
        });
    </script>
{% endblock %}